doctype html 
html 
  include components/head-padrao.pug
  body
    div(style='margin:0; padding:0;', bgcolor='#002B4F')
      table(width='100%', cellpadding='0', cellspacing='0', border='0', align='center', style='table-layout: fixed;', bgcolor='#F6F6F6')
        tr
          td(align='center', valign='top')|
            | <!--[if mso]><table width="650" cellpadding="0" cellspacing="0" border="0" align="center"><tr><td align="center" valign="top"><![endif]-->
            table(width='100%', cellpadding='0', cellspacing='0', border='0', align='center', style='max-width:650px', bgcolor='#002B4F')
            
              //-Inicio EMAIL-//
              
              //- HEADER/hero 
              include components/Amigao/header-FaixaApp
              include components/Amigao/hero

              //- CORPO
              include components/Amigao/texto-500
              include components/Amigao/vitrine-4prod-wbg-cta
              include components/Amigao/conteudo-3col
              
              
              //- FOOTER/banner
              include components/Amigao/footer

              //-Fim EMAIL-/
            |
            | <!--[if mso]></td></tr></table><![endif]-->
            










//- NAO MEXER NOS PUGS!!!! >:C 
//-⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⣤⡶⠾⠿⠿⠛⠻⠿⠿⠶⢶⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
//-⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣶⠿⠛⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠻⢷⣶⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
//-⠀⠀ ⠀⠀⠀⠀⠀⠀⢀⣤⡾⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠿⣶⣄⠀⠀⢀⣠⣶⡶⢶⣦⣄⡀⠀⠀
//-⠀⠀ ⠀⠀⠀⠀⢀⣴⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢷⣤⣿⠏⠀⠀⠀⠈⠙⢿⣦⠀
//-⠀⠀ ⠀⠀⠀⣴⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣄⠀⣠⡶⢶⣄⠀⢹⣇
//-⠀⠀ ⠀⢀⣾⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⠿⠛⠉⠙⠛⢷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣦⠛⠀⠀⣿⠀⠈⣿
//-⠀ ⠀⢠⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡿⠃⠀⠀⠀⠀⠀⠀⠈⠻⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣧⣀⣼⠟⠀⢸⡟
//-⠀ ⢠⣾⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠁⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣯⠁⠀⣠⣿⠁
//-⠀ ⣼⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⠂⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣶⡾⠟⠁⠀
//- ⢠⣿⣄⡀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣤⡤⢤⣤⣄⠀⠀⢹⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣷⠀⠀⠀⠀
//- ⢸⣿⡭⣷⡀⠀⠀⠀⠀⢀⣶⢟⣭⣴⣶⣶⣬⣝⢷⣄⠀⢿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡆⠀⠀⠀
//- ⢸⣿⣿⢸⡇⠀⠀⠀⠀⣿⢃⣾⣿⣿⣿⣿⣿⣿⣆⢻⡆⠀⠻⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀
//- ⢸⣿⣿⢸⡇⠀⠀⠀⠀⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⢸⡷⠀⠀⠉⠻⣿⣦⣀⡀⠄⠀⠀⣠⣾⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀
//- ⢸⣿⣿⣼⣷⣶⣶⣶⣾⣿⡄⢻⣿⣿⣿⣿⣿⣿⡟⣸⡇⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠟⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠃⠀⠀⠀
//- ⢻⣷⣾⣿⣗⠙⣿⠋⠀⠈⠻⣦⣍⣛⣛⣛⣛⣩⣴⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠀⠀⠀⠀
//- ⠸⣷⣿⠳⠿⣸⣿⠀⠀⠀⠀⠈⠻⣿⡛⠛⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀
//-⠀ ⣿⡏⠀⣰⣿⢿⡄⠀⠀⠀⠀⠀⠘⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠁⠀⠀⠀⠀
//-⠀ ⣿⡇⣂⣿⡘⢘⣿⡄⠀⠀⠀⢀⢠⣜⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⢾⠃⠀⠀⠀⠀⠀⣸⡏⠀⠀⠀⠀⠀
//-⠀ ⠹⣿⣿⣿⡟⡛⠛⣿⣦⣀⣀⣈⣻⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡿⠃⠁⠀⠀⠀⠀⠀⠀⣰⡿⠀⠀⠀⠀⠀⠀
//-⠀⠀ ⠹⣷⡙⠿⠷⣦⣬⣿⠟⠛⠛⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠁⠀⠀⠀⠀⠀⠀⠀⣰⡿⠁⠀⠀⠀⠀⠀⠀
//-⠀⠀ ⠀⠘⠿⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣦⡀⠀⠀⠀⠀⠀⣼⡟⠀⠀⠀⠀⠀⠀⠀⠀
//-⠀⠀ ⠀⠀⠀⠈⠛⠿⣶⣤⣀⣀⠀⠀⠀⠀⠀⠀⣶⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣻⣿⡆⠀⠀⠈⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀
//-⠀⠀⠀ ⠀⠀⠀⠀⠀⢹⣿⡙⢻⡿⢷⣶⣶⣤⣄⣿⣇⠀⠀⢠⣶⠀⠀⠀⠀⣀⣀⣀⣤⣶⡾⣿⠋⠹⣷⡀⠀⢠⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀
//-⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠙⠿⠿⠃⠀⠀⠀⠈⠉⠙⣿⡄⠀⣸⡟⠛⠛⠛⠛⠛⠛⠉⠙⠿⠾⠋⠀⠀⢻⣧⠀⣸⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀
//-⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣴⡿⠀⠂⠀⠀⠀⠐⠠⠠⠄⠯⠋⠁⠐⠄⠀⠙⠛⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀